body {
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient( 45deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 650px;
  margin: 5px;
  float: left;
}

.gif-btn {
  float: right;
  size: 10px;
}

.img-Btn {
  float: right;
  size: 10px;
}

.footer {
  position: relative;
}

.hero-body {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.section {
  padding-top: 0px;
}

.card, .notification {
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(8, 8, 8, 0.2);
}


